<html>
<head>
    <title>Light Blue - Admin Template</title>
    <link href="css/application.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
</head>
<body class="background-dark">
<header class="page-header">
    <div class="navbar">
            <ul class="nav navbar-nav navbar-right pull-right">
                <li class="visible-phone-landscape">
                    <a href="#" id="search-toggle">
                        <i class="icon-search"></i>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" title="Messages" id="messages"
                       class="dropdown-toggle"
                       data-toggle="dropdown">
                        <i class="icon-comments"></i>
                    </a>
                    <ul id="messages-menu" class="dropdown-menu messages" role="menu">
                        <li role="presentation">
                            <a href="#" class="message">
                                <img src="img/1.jpg" alt="">
                                <div class="details">
                                    <div class="sender">Jane Hew</div>
                                    <div class="text">
                                        Hey, John! How is it going? ...
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#" class="message">
                                <img src="img/2.jpg" alt="">
                                <div class="details">
                                    <div class="sender">Alies Rumiancaŭ</div>
                                    <div class="text">
                                        I'll definitely buy this template
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#" class="message">
                                <img src="img/3.jpg" alt="">
                                <div class="details">
                                    <div class="sender">Michał Rumiancaŭ</div>
                                    <div class="text">
                                        Is it really Lore ipsum? Lore ...
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#" class="text-align-center see-all">
                                See all messages <i class="icon-arrow-right"></i>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" title="8 support tickets"
                       class="dropdown-toggle"
                       data-toggle="dropdown">
                        <i class="icon-group"></i>
                        <span class="count">8</span>
                    </a>
                    <ul id="support-menu" class="dropdown-menu support" role="menu">
                        <li role="presentation">
                            <a href="#" class="support-ticket">
                                <div class="picture">
                                    <span class="label label-important"><i class="icon-bell-alt"></i></span>
                                </div>
                                <div class="details">
                                    Check out this awesome ticket
                                </div>
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#" class="support-ticket">
                                <div class="picture">
                                    <span class="label label-warning"><i class="icon-question-sign"></i></span>
                                </div>
                                <div class="details">
                                    "What is the best way to get ...
                                </div>
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#" class="support-ticket">
                                <div class="picture">
                                    <span class="label label-success"><i class="icon-tag"></i></span>
                                </div>
                                <div class="details">
                                    This is just a simple notification
                                </div>
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#" class="support-ticket">
                                <div class="picture">
                                    <span class="label label-info"><i class="icon-info-sign"></i></span>
                                </div>
                                <div class="details">
                                    12 new orders has arrived today
                                </div>
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#" class="support-ticket">
                                <div class="picture">
                                    <span class="label label-important"><i class="icon-plus"></i></span>
                                </div>
                                <div class="details">
                                    One more thing that just happened
                                </div>
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#" class="text-align-center see-all">
                                See all tickets <i class="icon-arrow-right"></i>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="divider"></li>
                <li class="hidden-xs">
                    <a href="#" id="settings"
                       title="Settings"
                       data-toggle="popover"
                       data-placement="bottom">
                        <i class="icon-cog"></i>
                    </a>
                </li>
                <li class="hidden-xs dropdown">
                    <a href="#" title="Account" id="account"
                       class="dropdown-toggle"
                       data-toggle="dropdown">
                        <i class="icon-user"></i>
                    </a>
                    <ul id="account-menu" class="dropdown-menu account" role="menu">
                        <li role="presentation" class="account-picture">
                            <img src="img/2.jpg" alt="">
                            Philip Daineka
                        </li>
                        <li role="presentation">
                            <a href="form_account.html" class="link">
                                <i class="icon-user"></i>
                                Profile
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="component_calendar.html" class="link">
                                <i class="icon-calendar"></i>
                                Calendar
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#" class="link">
                                <i class="icon-inbox"></i>
                                Inbox
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="visible-xs">
                    <a href="#"
                       class="btn-navbar"
                       data-toggle="collapse"
                       data-target=".sidebar"
                       title="">
                        <i class="icon-reorder"></i>
                    </a>
                </li>
                <li class="hidden-xs"><a href="login.html"><i class="icon-signout"></i></a></li>
            </ul>
            <form id="search-form" class="navbar-form pull-right" role="search">
                <input type="search" class="search-query" placeholder="Search...">
            </form>
    </div>
</header>
<div class="row">
<div class="col-md-10 col-md-offset-1">
    <section class="widget">
        <header>
            <button class="btn btn-primary pull-right">Add Workflow</button>
        </header>
        <div class="body">
            <ul id="myTab" class="nav nav-tabs">
                <li class="active"><a href="#legal" data-toggle="tab">Legal</a></li>
                <li class=""><a href="#workstation" data-toggle="tab">Workstation</a></li>
                <li class=""><a href="#relocation" data-toggle="tab">Relocation</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="legal">
                    <div id="mailbox-app" class="mailbox">
                        <div class="row">
                            <div class="col-sm-2">
                                <ul id="folders-list" class="mailbox-folders"><li class="active">
                                    <a href="#">I9</a>
                                </li><li class="">
                                    <a href="#">W2</a>
                                </li><li class="">
                                    <a href="#">Non-Compete</a>
                                </li><li class="">
                                    <a href="#">Contract</a>
                                </li></ul>
                            </div>
                            <div class="col-sm-10">
                                <div id="mailbox-content" class="mailbox-content"><table id="folder-view" class="folder-view table table-striped">
                                    <tbody>
                                    <tr class="">
                                <td class="tiny-column"><div class="icheckbox_square-grey"><input class="selected-checkbox" type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;"></ins></div></td>
                                <td class="tiny-column"><span class="starred"><i class="icon-star color-orange"></i></span></td>
                                <td class="name hidden-xs">Philip Horbacheuski</td>
                                <td class="subject">Signed I9</td>
                                <td class="tiny-column"><i class="icon-paper-clip"></i></td>
                                <td class="date">12:20</td>
                            </tr><tr class="unread">
                                <td class="tiny-column"><div class="icheckbox_square-grey"><input class="selected-checkbox" type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;"></ins></div></td>
                                <td class="tiny-column"><span class="starred"><i class="icon-star-empty"></i></span></td>
                                <td class="name hidden-xs">Boss</td>
                                <td class="subject">Status on Phil's legal forms</td>
                                <td class="tiny-column"><i class="icon-paper-clip"></i></td>
                                <td class="date">Aug 14</td>
                            </tr><tr class="">
                                <td class="tiny-column"><div class="icheckbox_square-grey"><input class="selected-checkbox" type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;"></ins></div></td>
                                <td class="tiny-column"><span class="starred"><i class="icon-star-empty"></i></span></td>
                                <td class="name hidden-xs">Philip Horbacheuski</td>
                                <td class="subject">Legal forms: please sign and return</td>
                                <td class="tiny-column"></td>
                                <td class="date">Aug 7</td>
                            </tr><tr class="unread">
                                <td class="tiny-column"><div class="icheckbox_square-grey"><input class="selected-checkbox" type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;"></ins></div></td>
                                <td class="tiny-column"><span class="starred"><i class="icon-star color-orange"></i></span></td>
                                <td class="name hidden-xs">Karen Hutchison</td>
                                <td class="subject">New I9 forms</td>
                                <td class="tiny-column"></td>
                                <td class="date">Jul 31</td>
                            </tbody>
                                
                            </table></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="workstation">
                    <div id="mailbox-app" class="mailbox">
                        <div class="row">
                            <div class="col-sm-2">
                                <ul id="folders-list" class="mailbox-folders"><li class="active">
                                    <a href="#">I9</a>
                                </li><li class="">
                                    <a href="#">W2</a>
                                </li><li class="">
                                    <a href="#">Non-Compete</a>
                                </li><li class="">
                                    <a href="#">Contract</a>
                                </li></ul>
                            </div>
                            <div class="col-sm-10">
                                <div id="mailbox-content" class="mailbox-content"><table id="folder-view" class="folder-view table table-striped">
                                    <tbody>
                                    <tr class="">
                                <td class="tiny-column"><div class="icheckbox_square-grey"><input class="selected-checkbox" type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;"></ins></div></td>
                                <td class="tiny-column"><span class="starred"><i class="icon-star color-orange"></i></span></td>
                                <td class="name hidden-xs">Janet Trovsky</td>
                                <td class="subject">Macbook Pro order for Phil</td>
                                <td class="tiny-column"><i class="icon-paper-clip"></i></td>
                                <td class="date">12:20</td>
                            </tr><tr class="">
                                <td class="tiny-column"><div class="icheckbox_square-grey"><input class="selected-checkbox" type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;"></ins></div></td>
                                <td class="tiny-column"><span class="starred"><i class="icon-star-empty"></i></span></td>
                                <td class="name hidden-xs">J&J Cleaners</td>
                                <td class="subject">Second story office cleaned</td>
                                <td class="tiny-column"><i class="icon-paper-clip"></i></td>
                                <td class="date">Aug 14</td>
                            </tr><tr class="">
                                <td class="tiny-column"><div class="icheckbox_square-grey"><input class="selected-checkbox" type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;"></ins></div></td>
                                <td class="tiny-column"><span class="starred"><i class="icon-star-empty"></i></span></td>
                                <td class="name hidden-xs">Brad Davis</td>
                                <td class="subject">Programs needed for Phil's work environment</td>
                                <td class="tiny-column"></td>
                                <td class="date">Aug 7</td>
                            </tr>
                            </tbody>
                                
                            </table></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="relocation">
                    <div id="mailbox-app" class="mailbox">
                        <div class="row">
                            <div class="col-sm-2">
                                <ul id="folders-list" class="mailbox-folders"><li class="active">
                                    <a href="#">I9</a>
                                </li><li class="">
                                    <a href="#">W2</a>
                                </li><li class="">
                                    <a href="#">Non-Compete</a>
                                </li><li class="">
                                    <a href="#">Contract</a>
                                </li></ul>
                            </div>
                            <div class="col-sm-10">
                                <div id="mailbox-content" class="mailbox-content"><table id="folder-view" class="folder-view table table-striped">
                                    <tbody>
                                    <tr class="">
                                <td class="tiny-column"><div class="icheckbox_square-grey"><input class="selected-checkbox" type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;"></ins></div></td>
                                <td class="tiny-column"><span class="starred"><i class="icon-star color-orange"></i></span></td>
                                <td class="name hidden-xs">Philip Horbacheuski</td>
                                <td class="subject">Signed I9</td>
                                <td class="tiny-column"><i class="icon-paper-clip"></i></td>
                                <td class="date">12:20</td>
                            </tr><tr class="unread">
                                <td class="tiny-column"><div class="icheckbox_square-grey"><input class="selected-checkbox" type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;"></ins></div></td>
                                <td class="tiny-column"><span class="starred"><i class="icon-star-empty"></i></span></td>
                                <td class="name hidden-xs">Boss</td>
                                <td class="subject">Status on Phil's legal forms</td>
                                <td class="tiny-column"><i class="icon-paper-clip"></i></td>
                                <td class="date">Aug 14</td>
                            </tr><tr class="">
                                <td class="tiny-column"><div class="icheckbox_square-grey"><input class="selected-checkbox" type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;"></ins></div></td>
                                <td class="tiny-column"><span class="starred"><i class="icon-star-empty"></i></span></td>
                                <td class="name hidden-xs">Philip Horbacheuski</td>
                                <td class="subject">Legal forms: please sign and return</td>
                                <td class="tiny-column"></td>
                                <td class="date">Aug 7</td>
                            </tr><tr class="unread">
                                <td class="tiny-column"><div class="icheckbox_square-grey"><input class="selected-checkbox" type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;"></ins></div></td>
                                <td class="tiny-column"><span class="starred"><i class="icon-star color-orange"></i></span></td>
                                <td class="name hidden-xs">Karen Hutchison</td>
                                <td class="subject">New I9 forms</td>
                                <td class="tiny-column"></td>
                                <td class="date">Jul 31</td>
                            </tbody>
                                
                            </table></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
</div>

<!-- jquery and friends -->
<script src="lib/jquery/jquery.1.9.0.min.js"> </script>
<script src="lib/jquery/jquery-migrate-1.1.0.min.js"> </script>

<!-- jquery plugins -->
<script src="lib/jquery-maskedinput/jquery.maskedinput.js"></script>
<script src="lib/parsley/parsley.js"> </script>
<script src="lib/icheck.js/jquery.icheck.js"></script>
<script src="lib/select2.js"></script>


<!--backbone and friends -->
<script src="lib/backbone/underscore-min.js"></script>

<!-- bootstrap default plugins -->
<script src="lib/bootstrap/transition.js"></script>
<script src="lib/bootstrap/collapse.js"></script>
<script src="lib/bootstrap/alert.js"></script>
<script src="lib/bootstrap/tooltip.js"></script>
<script src="lib/bootstrap/popover.js"></script>
<script src="lib/bootstrap/button.js"></script>
<script src="lib/bootstrap/dropdown.js"></script>
<script src="lib/bootstrap/modal.js"></script>
<script src="lib/bootstrap/tab.js"> </script>

<!-- bootstrap custom plugins -->
<script src="lib/bootstrap-datepicker.js"></script>
<script src="lib/bootstrap-select/bootstrap-select.js"></script>
<script src="lib/wysihtml5/wysihtml5-0.3.0_rc2.js"></script>
<script src="lib/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>

<!-- basic application js-->
<script src="js/app.js"></script>
<script src="js/settings.js"></script>

<script type="text/template" id="settings-template">
    <div class="setting clearfix">
        <div>Background</div>
        <div id="background-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
            <% dark = background == 'dark'; light = background == 'light';%>
            <button type="button" data-value="dark" class="btn btn-sm btn-transparent <%= dark? 'active' : '' %>">Dark</button>
            <button type="button" data-value="light" class="btn btn-sm btn-transparent <%= light? 'active' : '' %>">Light</button>
        </div>
    </div>
    <div class="setting clearfix">
        <div>Sidebar on the</div>
        <div id="sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
            <% onRight = sidebar == 'right'%>
            <button type="button" data-value="left" class="btn btn-sm btn-transparent <%= onRight? '' : 'active' %>">Left</button>
            <button type="button" data-value="right" class="btn btn-sm btn-transparent <%= onRight? 'active' : '' %>">Right</button>
        </div>
    </div>
    <div class="setting clearfix">
        <div>Sidebar</div>
        <div id="display-sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
            <% display = displaySidebar%>
            <button type="button" data-value="true" class="btn btn-sm btn-transparent <%= display? 'active' : '' %>">Show</button>
            <button type="button" data-value="false" class="btn btn-sm btn-transparent <%= display? '' : 'active' %>">Hide</button>
        </div>
    </div>
</script>

<script type="text/template" id="sidebar-settings-template">
        <% auto = sidebarState == 'auto'%>
        <% if (auto) {%>
            <button type="button"
                    data-value="icons"
                    class="btn-icons btn btn-transparent btn-sm">Icons</button>
    <button type="button"
            data-value="auto"
            class="btn-auto btn btn-transparent btn-sm">Auto</button>
        <%} else {%>
            <button type="button"
                    data-value="auto"
                    class="btn btn-transparent btn-sm">Auto</button>
        <% } %>
</script>



</body>