<% provide(:title, 'Home') %>
<% if signed_in? %>
  <h1>Your Dash</h1>
  <% if (@user.context_account_id.nil?) %>
    <%= link_to "Connect my mailbox", controller: :connect_mailbox, action: :create %>
  <% end %>
<% end %>
