<% provide(:title, 'Home') %>
<% if signed_in? %>
  <h1>Your Dash</h1>
  <% if (@user.context_account_id.nil?) %>
    <%= button_to "Connect my mailbox", :class => 'btn btn-primary', controller: :connect_mailbox, action: :create %>
  <% else %>
    <%= render 'users/mail' %>
  <% end %>
<% end %>
