<% client = ContextClient.new(current_user.context_account_id) %>
<% messages = client.most_recent_messages(limit: 5) %>
<ul>
  <% messages.each do |message| %>
    <li><%= message.addresses['from']['name'] %>: <%= message.subject %>, <%= message.received_at %></li>
  <% end %>
<ul>
