<section class="widget">
    <header>
        <h4>
            <i class="icon-group"></i>
            Visits
            <small>
                Based on a three months data
            </small>
        </h4>
    </header>
    <div class="body no-margin">
        <div id="visits-chart" class="chart visits-chart">
            <svg></svg>
        </div>
        <div class="visits-info well well-sm">
            <div class="row">
                <div class="col-sm-3 col-xs-6">
                    <div class="key"><i class="eicon-users"></i> Total Traffic</div>
                    <div class="value">24 541 <i class="icon-caret-up color-green"></i></div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="key"><i class="eicon-user"></i> Unique Visits</div>
                    <div class="value">14 778 <i class="icon-caret-down color-red"></i></div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="key"><i class="icon-plus-sign-alt"></i> Revenue</div>
                    <div class="value">$3 583.18 <i class="icon-caret-up color-green"></i></div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="key"><i class="icon-user"></i> Total Sales</div>
                    <div class="value">$59 871.12 <i class="icon-caret-down color-red"></i></div>
                </div>
            </div>
        </div>
    </div>
</section>