 <section class="widget large">
  <header>
      <h4>
          <i class="eicon-share"></i>
          Feed
      </h4>
      <div class="actions">
          <button class="btn btn-transparent btn-xs">Show All <i class="icon-arrow-down"></i></button>
      </div>
  </header>
  <div class="body">
      <div id="feed" class="feed">
          <div class="wrapper">
              <div class="vertical-line"></div>
              <section class="feed-item">
                  <div class="icon pull-left">
                      <i class="icon-comment"></i>
                  </div>
                  <div class="feed-item-body">
                      <div class="text">
                          <a href="#">John Doe</a> commented on <a href="#">What Makes Good Code Good</a>.
                      </div>
                      <div class="time pull-left">
                          3 h
                      </div>
                  </div>
              </section>
              <section class="feed-item">
                  <div class="icon pull-left">
                      <i class="icon-ok color-green"></i>
                  </div>
                  <div class="feed-item-body">
                      <div class="text">
                          <a href="#">Merge request #42</a> has been approved by <a href="#">Jessica Lori</a>.
                      </div>
                      <div class="time pull-left">
                          10 h
                      </div>
                  </div>
              </section>
              <section class="feed-item">
                  <div class="icon pull-left">
                      <img src="assets/14.jpg" class="img-circle" alt="">
                  </div>
                  <div class="feed-item-body">
                      <div class="text">
                          New user <a href="#">Greg Wilson</a> registered.
                      </div>
                      <div class="time pull-left">
                          Today
                      </div>
                  </div>
              </section>
              <section class="feed-item">
                  <div class="icon pull-left">
                      <i class="icon-bolt color-orange"></i>
                  </div>
                  <div class="feed-item-body">
                      <div class="text">
                          Server fail level raises above normal. <a href="#">See logs</a> for details.
                      </div>
                      <div class="time pull-left">
                          Yesterday
                      </div>
                  </div>
              </section>
              <section class="feed-item">
                  <div class="icon pull-left">
                      <i class="eicon-database"></i>
                  </div>
                  <div class="feed-item-body">
                      <div class="text">
                          <a href="#">Database usage report</a> is ready.
                      </div>
                      <div class="time pull-left">
                          Yesterday
                      </div>
                  </div>
              </section>
              <section class="feed-item">
                  <div class="icon pull-left">
                      <i class="icon-shopping-cart"></i>
                  </div>
                  <div class="feed-item-body">
                      <div class="text">
                          <a href="#">Order #233985</a> needs additional processing.
                      </div>
                      <div class="time pull-left">
                          Wednesday
                      </div>
                  </div>
              </section>
              <section class="feed-item">
                  <div class="icon pull-left">
                      <i class="icon-arrow-down"></i>
                  </div>
                  <div class="feed-item-body">
                      <div class="text">
                          <a href="#">Load more...</a>
                      </div>
                  </div>
              </section>
          </div>
      </div>
  </div>
</section>